@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes glowrow {
    0% {
        background-color: rgba(255, 255, 255, 0.8)
    }

    50% {
        background-color: rgba(71, 71, 71, 0)
    }

    100% {
        background-color: rgba(255, 255, 255, 0.8)
    }
}

@keyframes backrounding {
    0% {
        background-position: 0% 100%;
    }

    50% {
        background-position: 100% 0%;
    }
}

/*Scrollbar custom*/
::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
}

/*Scrollbar background*/
::-webkit-scrollbar-thumb {
    background: rgb(170, 170, 170);
}

/*scrollbar thumb*/
::-webkit-scrollbar-thumb:active {
    background: hsl(0, 0%, 30%);
}

body {
    background-color: #000;
    color: #fff;
}

.title_bar {
    background-image: linear-gradient(90deg, hsl(330, 0%, 0%), hsl(0, 0%, 100%), hsl(330, 0%, 0%));
}

.statusbtn {
    transition: background-color 300ms;
}

.statusbtn:hover {
    background-color: hsl(0, 0%, 41%);
}

.statusbtn_active,
.statusbtn:active {
    background-color: hsl(0, 0%, 30%);
    transition: background-color 80ms;
}

#maximize_btn::after {
    border: 1px solid white;
    background-color: #000000;
}

#maximize_btn:hover::after {
    background-color: hsl(0, 0%, 41%);
}

#maximize_btn:active::after {
    background-color: hsl(0, 0%, 30%);
}

#maximize_btn::before {
    border: 1px solid white;
}

#minimize_btn::after {
    background-color: white;
}

#always_on_top_btn {
    background-image: url('../img/window-top-512-light.webp');
}

#mainx_btn::before,
#mainx_btn::after {
    background-color: rgb(255, 255, 255);
}

#mainx_btn:hover::before,
#mainx_btn:hover::after {
    background-color: rgb(255, 0, 0);
}

.menubtn_icon {
    background-image: url('../img/icon.webp');
}

/*  page darkener  */
#page_shade {
    background-color: #000;
    /*  Always black    */
}

/*  Loading Screen  */
#Loading {
    box-shadow: #fff;
    background-color: #000;
}

#loader {
    border: 0.5vh solid #fff;
}

#loadprogress {
    background-color: hsl(0, 0%, 50%);
}

/* Main navigation buttons */

.Action_bar {
    background-color: #000;
    box-shadow: 0vh 0vh 0vh 0vh #000000;
}

.Action_bar:hover {
    background-color: #000;
    box-shadow: 1vh 0vh 10vh 0vh #000000;
}

.menubtn:hover,
.menubtn_active:hover {
    background-color: rgb(58, 58, 58);
    transition: background-color 0ms;
}

.menubtn_active {
    background-color: hsl(0, 0%, 35%) !important
}

.menubtn #setting_btn_icon {
    /*  Setting button    */
    transform: rotate(0deg);
    background-image: url('../img/setting-light.webp');
    /*filter: invert(100%);*/
}

.menubtn_active #setting_btn_icon {
    transform: rotate(90deg);
    background-image: url('../img/setting-light.webp');
}

.menubtn #manage_btn_icon {
    /*  Manager button  (the little book) */
    background-image: url('../img/manage-white.webp');
    /*filter: invert(100%);*/
}

.menubtn_active #manage_btn_icon {
    background-image: url('../img/manage-open-white.webp');
}

.menubtn #table_btn_icon {
    /* The button with the logo, that switches back to the main table   */
    background-image: url('../img/icon-inverse.webp');
}

.menubtn_active #table_btn_icon {
    background-image: url('../img/icon.webp');
}

.menubtn #task_btn_icon {
    /*  task button    */
    background-image: url('../img/Clip-dark-closes.webp');
}

.menubtn_active #task_btn_icon {
    background-image: url('../img/Clip-dark.webp');
}

/*Timetable tags*/
#timetable {
    background-image: url('../img/blyatground.webp');
    background-position: center;
    /* Will be overwritten if the user selects their own image */
}

#timetable .maincell {
    background-color: rgba(0, 0, 0, 0.3);
}

#fullscreen_tile {
    background-color: #000c
}

#fullscreen_tile_tab_container tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.3);
}

#close_btn {
    border: 0.3vh solid #fff;
    color: #fff;
    background-color: #000;
    text-shadow: 0vw 0vw 0.5vw #000;
}

#close_btn:active {
    border: 0.3vh solid #000;
    background-color: #f00 !important;
    color: #000 !important;
    text-shadow: none;
}

tr {
    transition: background-color 250ms;
}

.glowrow {
    background-color: hsla(0, 0%, 100%, 0.7);
    animation: glowrow 4s infinite;
}

.maincell {
    /*  Cells of the table  */
    border: 0.2vh solid #fff;
}

.data_block,
.data_block_active {
    /*  The blocks containing the classes   */
    text-shadow: 0vw 0vw 0.5vw #000;
    background-color: #636363;
    color: #fff;
    transition: background-color 300ms color 300ms;
}


.data_block:active {
    text-shadow: 0vw 0vw 0.5vw #000 !important;
    background-color: #ebebeb !important;
    color: #000 !important;
    transition-duration: 0ms;
}

.data_block:hover,
.data_block_active:hover {
    box-shadow: 0vh 0.5vh 2vh 0vh #ffffff;
}

.infodoot {
    color: #fff;
    background-color: inherit;
    text-shadow: 0vw 0vw 0.5vw hsl(0, 0%, 0%);
}

.infodoot:active {
    background-color: #ebebeb !important;
    color: #000 !important;
}

/*  manage_view   */

.data_button,
.tablemanger,
.tablemanger_active {
    /*    Detailed representaion of the data to be managed    */
    color: #fff;
    background-image: linear-gradient(120deg, hsl(0, 0%, 70%), hsl(0, 0%, 50%), hsl(0, 0%, 40%), hsl(0, 0%, 30%), hsl(0, 0%, 20%));
    text-shadow: 0vh 0vh 0.5vh #000;
    border: none;
    transition: background 500ms, color 300ms;
    background-position: 100% 0%;
    background-size: 400%;
}

.data_button:hover,
.tablemanger:hover,
.tablemanger_active:active {
    background-position: 0% 100%;
    background-size: 400%;
}

.data_button:active,
.tablemanger_active {
    background-image: linear-gradient(120deg, hsl(0, 0%, 100%), hsl(0, 0%, 100%), hsl(0, 0%, 100%), hsl(0, 0%, 100%), hsl(0, 0%, 100%));
    color: black;
    text-shadow: 0vh 0vh 0.5vh rgb(255, 255, 255);
    transition: background 0ms, color 0ms;
}

.data_button:active .plusimg {
    /* Little icon in the add new button */
    background-image: url('../img/plus-light.webp');
    filter: invert(100%);
}

.plusimg {
    /* Little icon in the add new button */
    background-image: url('../img/plus-light.webp');
}

.tablemanger #tablespace_render {
    background-color: #000;
    box-shadow: 0vh 0vh 0vh 0vh #fff;
}

.tablemanger_active #tablespace_render {
    color: #fff;
    background-color: #000;
    box-shadow: 0vh 0vh 1.5vh 0vh #fff;
}


.table_bar:hover {
    box-shadow: 0vh 0vh 1vh 0vh #fff;
}

.tab_put {
    background-color: #000;
    color: white;
    border: none;
}

.colorslider::-webkit-slider-thumb {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1));
}

.color_doot {
    background-color: #c9c9c9;
    /*border: 0.3vh solid hsl(0, 100%, 50%);*/
    box-shadow: 0vh 0vh 1.5vh 0vh hsl(0, 0%, 80%);
}

.data_bar {
    box-shadow: 0vh 0vh 0.5vh 0vh #fff;
    border-bottom: 1vh solid rgb(255, 255, 255);
    background-color: #000;
    /* Transition in index */
}

.data_bar:active {
    box-shadow: 0vh 0vh 2vh 0vh rgb(255, 255, 255) !important;
    background-color: rgb(100, 100, 100);
    transition: background-color 0ms;
}

.sub_optionbar {
    background-color: rgb(0, 0, 0, 0.6);
    transition: background-color 300ms;
}

.data_bar:active .sub_optionbar {
    background-color: rgb(100, 100, 100);
    transition: background-color 0ms;
}

.editbtn {
    background-image: url('../img/edit-pngrepo-com.webp');
    filter: invert(100%);
}

.selectbutton {
    background-image: url('');
}

.deletebtn {
    background-image: url('../img/delete-button-dark.webp');
    filter: invert(100%);
}

.confirmimg {
    background-image: url('../img/confirm-pngrepo-com.webp');
}

.cancelimg {
    background-image: url('../img/cancel-error-pngrepo-com.webp');
}

.data_noot {
    color: rgb(255, 255, 255);
    background-color: none;
    text-shadow: none;
}

#dataentry_screen {
    /*    Place where data is entered or edited, Temporary solution, design needs to be re-worked   */
    background-color: #000;
}

.colorslider:focus {
    border: 0.3vh solid hsl(0, 0%, 50%);
}

.select_container {
    border: 0.3vh solid #fff
}

#dataentry_screen input {
    border: none;
    border-bottom: 0.8vh solid #fff;
    background-color: inherit;
    color: inherit;
}

#dataentry_screen input:focus {
    border: none;
    border-bottom: 0.5vh solid hsl(0, 0%, 50%);
    background-color: inherit;
    color: inherit;
    outline: none;
}

#dataentry_screen select:focus {
    /*    Place where data is entered or edited, Temporary solution, design needs to be re-worked   */
    border: 0.5vw solid hsl(0, 0%, 50%);
}

.databtns {
    background-color: #000;
    border: 0.3vh solid #fff;
}

#cancel_btn:active {
    /*cancel button*/
    background-color: #ff5656;
    border: 0.3vh solid #912e2e;
}

#save_btn:active {
    /*Save button*/
    background-color: #00c3ff;
    border: 0.3vh solid #178caf;
}

#savepluss_btn:active {
    /*Save and add new entry button*/
    background-color: #44ff1e;
    border: 0.3vh solid #30b914;
}

#delete_btn:active {
    /*Save and add new entry button*/
    background-color: #ff5656;
    border: 0.3vh solid #912e2e;
}

#delete_confirm_pannel {
    /*   Delete confirmation pannel  */
    background-color: #000000b3;
}

#pseudo_container_table tr:nth-child(even) {
    background-color: #000000b3;
}

#yes_btn {
    background-color: #3ad61a;
    border: 0.3vh solid #248d0f;
}

#yes_btn:active {
    background-color: #44ff1e;
    border: 0.3vh solid #3ad61a;
}

#no_del_btn {
    background-color: #ff5656;
    border: 0.3vh solid #912e2e;
}

#no_del_btn:active {
    background-color: #ff3434;
    border: 0.3vh solid #b33e3e;
}

#erraser {
    /* Clear inputs    */
    background-image: url('../img/Eraser-dark.webp');
}

/*  Settinng things */
.config-manage-pannel,
#configmngtile {
    background-color: hsl(0, 0%, 0%);
    background-size: 300%;
    transition: background 500ms;
    text-shadow: 0vh 0vh 0.5vh #000;
}

.config_btn {
    background-image: linear-gradient(120deg, hsl(0, 0%, 70%), hsl(0, 0%, 50%), hsl(0, 0%, 40%), hsl(0, 0%, 30%), hsl(0, 0%, 20%));
    color: white;
    text-shadow: 0vh 0vh 0.5vh #000;
    border: none;
    background-position: center;
    background-size: cover;
    transition: background 500ms;
    background-position: 100% 0%;
    background-size: 400%;
}

.config_btn:hover {
    background-position: 0% 100%;
    background-size: 400%;
}

.config_btn:active {
    background-image: linear-gradient(120deg, hsl(0, 0%, 100%), hsl(0, 0%, 100%), hsl(0, 0%, 100%), hsl(0, 0%, 100%), hsl(0, 0%, 100%));
    color: rgb(0, 0, 0);
    text-shadow: 0vh 0vh 0.5vh rgb(255, 255, 255);
    background-color: #ffffff;
    text-shadow: 0vh 0vh 0.5vh #000;
    transition: background 50ms;
}

#pathrepresenter {
    background-color: hsl(0, 0%, 0%);
    color: white;
    border: none;
}

#amoled_pallet {
    box-shadow: 0vh 0vh 2vh 0vh hsl(0, 0%, 50%)
}

#dark_selection_put {
    border: 1px solid hsl(0, 0%, 50%);
}

.appicon {
    background-image: url('../img/icon.webp');
}

.appicon_inverse {
    background-image: url('../img/icon-inverse.webp');
}

.bookli {

    background-image: url('../img/manage-dark.webp');
}

.bookamol {
    background-image: url('../img/manage-white.webp');
}

.gear {
    background-image: url('../img/setting-light.webp');
}

.gear_inverse {
    background-image: url('../img/setting-light.webp');
    filter: invert(100%);
}

#light_selection_put {
    border: 1px solid #fff;
}

.selcetion_put:checked {
    background-color: hsl(0, 0%, 100%);
}

.selcetion_put:checked::after {
    border-color: #000;
}

.notification_pallet_active {
    box-shadow: 0vh 0vh 2vh 0vh hsl(0, 0%, 50%)
}

#hueinverse-selec {
    background-image: linear-gradient(120deg, hsl(0, 0%, 100%), hsl(0, 0%, 80%));
    box-shadow: 0vh 0vh 2vh 0.5vh hsl(0, 0%, 100%)
}

#hue0-selec {
    background-image: linear-gradient(120deg, hsl(0, 100%, 50%), hsl(0, 100%, 20%))
}

#hue30-selec {
    background-image: linear-gradient(120deg, hsl(30, 100%, 50%), hsl(30, 100%, 20%))
}

#hue60-selec {
    background-image: linear-gradient(120deg, hsl(60, 100%, 50%), hsl(60, 100%, 20%))
}

#hue90-selec {
    background-image: linear-gradient(120deg, hsl(90, 100%, 50%), hsl(90, 100%, 20%))
}

#hue120-selec {
    background-image: linear-gradient(120deg, hsl(120, 100%, 50%), hsl(120, 100%, 20%));
}

#hue150-selec {
    background-image: linear-gradient(120deg, hsl(150, 100%, 50%), hsl(150, 100%, 20%))
}

#hue180-selec {
    background-image: linear-gradient(120deg, hsl(180, 100%, 50%), hsl(180, 100%, 20%))
}

#hue210-selec {
    background-image: linear-gradient(120deg, hsl(210, 100%, 50%), hsl(210, 100%, 20%))
}

#hue240-selec {
    background-image: linear-gradient(120deg, hsl(240, 100%, 50%), hsl(240, 100%, 20%))
}

#hue270-selec {
    background-image: linear-gradient(120deg, hsl(270, 100%, 50%), hsl(270, 100%, 20%))
}

#hue300-selec {
    background-image: linear-gradient(120deg, hsl(300, 100%, 50%), hsl(300, 100%, 20%))
}

#hue330-selec {
    background-image: linear-gradient(120deg, hsl(330, 100%, 50%), hsl(330, 100%, 20%));
}

/* Switches */
.switch_container_active {
    background-color: #000
}

.switch_container_active .switchbdy {
    background-color: #000
}

.switch_container_active .switch {
    background-color: hsl(0, 0%, 100%)
}

.switch_container_dissabled {
    background-color: #000;
    border: 0.5vh solid rgb(122, 122, 122);
}

.switch_container_dissabled .switchbdy {
    background-color: #000
}

.switch_container_dissabled .switch {
    background-color: rgb(122, 122, 122)
}

/* Notification colors*/

.x-button:hover::before,
.x-button:hover::after {
    box-shadow: 0vh 0vh 1vh 0vh #fff;
}

/* Notification colors*/
.notification_style1 {
    border-top: 0.5vh solid rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 0vh 0vh 0.5vh 0vh #ffffff;
}

.notification_style1:hover,
.notification_style2:hover,
.notification_style3:hover,
.notification_style4:hover {
    box-shadow: 0vh 0vh 2vh 0vh #ffffff;
}

.notification_style1 .title {
    border-bottom: 0.25vh solid rgb(255, 255, 255)
}

.notification_style1 .title::before,
.notification_style2 .title::before {
    background-color: rgb(255, 255, 255)
}

.notification_style2,
.notification_style3 {
    border-left: 0.5vw solid rgb(255, 255, 255);
    border-top: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 0vh 0vh 0.5vh 0vh #ffffff;
}

.notification_style3 .title::after {
    background-image: url('../img/icon.webp')
}

.notification_style3 .title::before,
.notification_style4 .title::before {
    background-color: rgb(255, 255, 255)
}

.notification_style4 {
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
    box-shadow: 0vh 0vh 0.5vh 0vh #fafafa;
}

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {}