@keyframes pulse {0%{text-shadow: 0vh 0vh 0vh #000000} 50% {text-shadow: 0vh 0vh 5vh #000000} 100%{text-shadow: 0vh 0vh 0vh #000000}}
@keyframes rotate {0% {transform: rotate(0deg)} 100%{transform: rotate(360deg)}}
@keyframes glowrow { 0%{background-color: rgb(0, 180, 255)} 50%{background-color: rgb(0, 113, 161)} 100%{background-color: rgb(0, 180, 255)}}

body{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}

#light_pallet{box-shadow: 0vh 0vh 2vh 0vh rgb(0, 180, 255);}

/*  page darkener  */
#page_shade{
    background-color: rgb(0, 0, 0);/*  Always black    */
}

/*  Loading Screen  */
#Loading{
    box-shadow: #ffffff;
    background-color: inherit;
}
#loader{
    border: 3vh solid #ffffff;
    border-top: 3vh solid rgb(0, 180, 255);
}

/*Scrollbar custom*/
::-webkit-scrollbar-track {background: rgb(255, 255, 255);}/*Scrollbar background*/
::-webkit-scrollbar-thumb {background: rgb(170, 170, 170);}/*scrollbar thumb*/
::-webkit-scrollbar-thumb:active {background: rgb(0, 0, 0);}/*activeing on scrollbar thumb*/

/*  Foooter && Menu   */
.footbar{   /* The body of the footer   */
    background-color: inherit;
    border-bottom:none;
}

/* Main navigation buttons */
.menubtn,.menubtn_active{
    background-color:inherit;
    box-shadow: 0vh 0vh 3vh 0vh #ffffff;
}
.menubtn_active{
    background-color: rgb(45, 192, 255);
}
.menubtn #setting_btn_icon{   /*  Setting button    */
    transform: rotate(0deg);
    background-image: url('../img/setting-dark.webp');
}
.menubtn_active #setting_btn_icon{   
    transform: rotate(90deg);
    background-image: url('../img/setting-dark.webp');
}
.menubtn #manage_btn_icon{    /*  Manager button  (the little book) */
    background-image: url('../img/manage-light.webp');
}
.menubtn_active #manage_btn_icon{
    background-image: url('../img/manage-open-light.webp');
}
.menubtn #table_btn_icon{     /* The button with the logo, that switches back to the main table   */
    background-image: url('../img/icon.webp');
}
.menubtn_active #table_btn_icon{
    background-image: url('../img/icon-inverse.webp');
}
.menubtn #task_btn_icon{    /*  task button    */
    background-image: url('../img/Clip-light-closes.webp');
}
.menubtn_active #task_btn_icon{
    background-image: url('../img/Clip-light.webp');
}

/*Timetable tags*/
#timetable{
    background-image: url('../img/whiteground.webp');
}
#fullscreen_tile{background-color: rgba(255, 255, 255, 0.7);}
#close_btn{ 
    border:0.3vh solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}#close_btn:active{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}
#table1::-webkit-scrollbar-thumb {background: rgb(0, 0, 0);}/*scrollbar thumb*/
.glowrow {background-color: rgb(0, 180, 255);}
.maincell{/*  Cells of the table  */
    border:0.2vh solid #000000;
}
.data_block,.data_block_active{/*  The blocks containing the classes   */
    background-color: inherit;
    color:inherit;
}
.data_block_active{
    color: rgba(0, 0, 0, 0);
}
.infodoot{
    color: rgb(0, 0, 0);
    background-color: inherit;
}

/*  Colors are class based because im lazy  */
.hue0{background-color: hsl(0, 0%, 75%)}
.hue0:active{background-color: hsl(0, 0%, 92%)}
.hue1{background-color: hsl(0,100%,70%)}
.hue1:active{background-color: hsl(0,100%,40%)}
.hue2{background-color: hsl(30,100%,60%)}
.hue2:active{background-color: hsl(30,100%,40%)}
.hue3{background-color: hsl(40,100%,60%)}
.hue3:active{background-color: hsl(40,100%,40%)}
.hue4{background-color: hsl(60,100%,60%)}
.hue4:active{background-color: hsl(60,100%,40%)}
.hue5{background-color: hsl(120,100%,60%)}
.hue5:active{background-color: hsl(120,100%,40%)}
.hue6{background-color: hsl(150,100%,60%)}
.hue6:active{background-color: hsl(150,100%,40%)}
.hue7{background-color: hsl(180,100%,60%)}
.hue7:active{background-color: hsl(180,100%,40%)}
.hue8{background-color: hsl(210,100%,60%)}
.hue8:active{background-color: hsl(210,100%,40%)}
.hue9{background-color: hsl(260,100%,60%)}
.hue9:active{background-color: hsl(260,100%,40%)}
.hue10{background-color: hsl(270,100%,60%)}
.hue10:active{background-color: hsl(270,100%,40%)}
.hue11{background-color: hsl(328,100%,60%)}
.hue11:active{background-color: hsl(328,100%,70%)}

/*  manage_view   */
.data_noot{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    text-shadow: none;
}
.plusimg{/* Little icon in the add new button */
    background-image: url('../img/plus-dark.webp');
}
#dataentry_screen{/*    Place where data is entered or edited, Temporary solution, design needs to be re-worked   */
    background-color: rgb(255, 255, 255);
}
#dataentry_screen input{
    border:none;
    border-bottom:0.3vh solid #000000;
    background-color: inherit;
    color: inherit;
}#dataentry_screen input:focus{
    border:none;
    border-bottom:0.3vh solid rgb(0, 180, 255);
    background-color: inherit;
    color: inherit;
    outline: none;
}
.select_container{/*  Select boxes made to be more effective on mobile  */
    border:0.3vh solid #000000;
    color: rgb(0, 0, 0);
}.select_container:active{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.btn_bar{
    background:none;
}
.databtns{
    background-color: rgb(255, 255, 255);
    border:0.3vh solid #000000;
}
#cancel_btn:active{ /*cancel button*/
    background-color: #ff5656;
    border:0.3vh solid #912e2e;
}
#save_btn:active{ /*Save button*/
    background-color: #00c3ff;
    border:0.3vh solid #178caf;
}
#savepluss_btn:active{/*Save and add new entry button*/
    background-color: #44ff1e;
    border:0.3vh solid #30b914;
}
#delete_btn:active{/*Save and add new entry button*/
    background-color: #ff5656;
    border:0.3vh solid #912e2e;
}

#delete_confirm_pannel{/*   Delete confirmation pannel  */
    background-color: inherit;
}
#yes_btn{
    background-color: #3ad61a;
    border:0.3vh solid #248d0f;
}#yes_btn:active{
    background-color: #44ff1e;
    border:0.3vh solid #3ad61a;
}
#no_btn{
    background-color: #ff5656;
    border:0.3vh solid #912e2e;
}#no_btn:active{
    background-color: #ff3434;
    border:0.3vh solid #b33e3e;
}

#erraser{/* Clear inputs    */
    background-image: url('../img/Eraser-light.webp');
}

/*  Settinng things */
#dark_selection_put{
    border:1px solid rgb(0, 0, 0);
}
#light_selection_put{
    border:1px solid rgb(0, 180, 255);
}
.selcetion_put:checked{
    background-color: rgb(0, 180, 255);
}
.selcetion_put:checked::after{
    border-color: #000000;
}

/* Switches */
.switch_container_active{
    background-color: rgb(255, 255, 255);
}
.switch_container_active .switchbdy{
    background-color: rgb(255, 255, 255);
}
.switch_container_active .switch{
    background-color: rgb(0, 0, 0);
}
.switch_container_dissabled{
    background-color: rgb(255, 255, 255);
    border:0.5vh solid rgb(122,122,122);
}
.switch_container_dissabled .switchbdy{
    background-color: rgb(255, 255, 255);
}
.switch_container_dissabled .switch{
    background-color: rgb(122,122,122);
}