/*  Portrait and Common Layout  */
@media screen{
    * {-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */}
    @font-face{src:url(../fonts/handwriting-black-draft_DEMO.otf); font-family: handwriting;}/* Handwriting font */
    @font-face{src:url(../fonts/Minecrafter.Reg.ttf); font-family: minecraft;}/* Minecraft clean font */
    @font-face{src:url(../fonts/Minecrafter.Alt.ttf); font-family: minecraft_cracked;}/* Minecraft cracked font */
    @font-face {font-family: Lexend_Deca; src: url(../fonts/LexendDeca-Regular.ttf);}

    body{
        -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
        -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
        -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
        font-family: Lexend_Deca,Serif,Arial, Helvetica, sans-serif;
        height:100vh;
        margin:0px;
        /* Padding to avoid the "unsafe" areas behind notches in the screen */
        padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
        width:100vw;
    }

    /*  Loading Screen  */
    #Loading{
        position: fixed;
        top:0;
        right:0;
        height:100vh;
        width: 100vw;
        z-index: 999;
        display: block;
    }
    #title{
        position: relative;
        margin-top:30vh;
        height:15vw;
        font-size:15vw;
        width:100%;
        text-align: center;
        border-radius: 10vh;
        animation: pulse 2s ease infinite;
    }
    #loader{
        position: relative;
        margin-top:3vh;
        margin-left:auto;
        margin-right: auto;
        height:7vh;
        width:7vh;
        border-radius: 10vh;
        animation: rotate 1s linear infinite;
    }

    /*  page darkener   */
    #page_shade{
        position: fixed;
        top:0;
        right: 0;
        opacity: 0.5;
        z-index: 50;
        display:none;
        height:100%;
        width: 100%;
        transition: opacity 500ms;
    }

    /*Scrollbar custom*/
    ::-webkit-scrollbar {width: 1px;z-index: 100;}/*scrollbar body*/

    /*  Footer */
    .footbar{   /* The body of the Footer   */
        position:fixed;
        bottom:0;
        height:7vh;
        left:0;
        width:100vw;
        border-collapse: collapse;
        text-align:center;
        text-shadow:0vh 0vh 1vh;
        border:none;
    }
    .menuholder{    /*  The Menu in the Footer  */
        position: absolute;
        top:0;
        right:0;
        height:7vh;
        width:100%;
    }
    .menubtn,.menubtn_active{   /*  menu buttons  */
        position: relative;
        float: right;
        height:7vh;
        width:33%;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
        /*margin-right:0.5vw;*/
        border-radius: 2vh;
        transition:background-color 500ms;
    }
    .menubtn_icon{
        position: relative;
        margin-right:auto;
        margin-left:auto;
        height:7vh;
        width: 7vh;
        background-size: contain;
        background-position:center;
        background-image: url('../img/icon.webp');
        transition: background-image 500ms;
    }
    #setting_btn_icon{transition: transform 500ms;}

    /*  Views   */
    view{
        position: absolute;
        bottom:7vh;
        left:0;
        width: 100vw;
        height:93vh;
        display:none;
        overflow: scroll;
    }

    /*Timetable view*/
    #fullscreen_tile{
        position: fixed;
        bottom:7vh;
        left:0;
        width: 100vw;
        height:93vh;
        z-index: 500;
        display: none;
        transition: opacity 200ms,height 200ms;
        opacity: 1;
    }
    #fullscreen_tile_tab_container{
        position: absolute;
        top:15vh;
        right: 0;
        width: 100%;
        font-size: 4vh;
        border-collapse: collapse;
        text-align: center;
        table-layout: fixed;
    }
    #fullscreen_tile_tab_container table{
        height:100%;
        width: 100%;
    }
    #fullscreen_tile_tab_container th{padding: 3px;padding-bottom: 1vh;}
    #fullscreen_tile_tab_container .puff{padding-bottom: 1vh;}
    #fullscreen_tile_tab_container td{padding: 3px;padding-bottom: 1vh;vertical-align: middle;align-content: center;}
    #fullscreen_tile_tab_container .lefter{text-align: right;}
    #fullscreen_tile_tab_container .righter{text-align: left;}
    #close_btn{
        position: absolute;
        bottom: 1vh;
        right:5vw;
        width: 90vw;
        height: 7vh;
        font-size: 5.5vh;
        text-align: center;
        border-radius:2vh;
        -webkit-touch-callout: none;
        transition:background-color 300ms,color 300ms;    
    }#close_btn:active{transition:background-color 0ms,color 0ms;}
    #timetable{/*   The body of the timetable   */
        position: relative;
        margin-top:0vh;
        height:92.8vh;
        max-height: 93vh;
        left:0vw;
        white-space: nowrap;
        font-size: 2.7vh;
        overflow: auto;
        border-collapse: collapse;
        table-layout: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }
    tr{transition:background-color 250ms;}
    .glowrow {animation:glowrow 2s infinite;}
    td{vertical-align: top;}
    .maincell{/*    Cells of the table  */
        position: relative;
        text-align: center;
        /*max-height: 6.66%;  /*  Fixed height required for table space rendering, technically breaks the web engine but its a usefull glitch  */
        /*height: 6%;
        width: 12.5%;*/
        margin: 0px;
        padding-top:0px;
        padding-bottom: 0px;
        padding-left: 0.5vh;
        padding-right: 0.5vh;
        overflow: visible;
        background: none;
        width:auto;
        /*min-width: 33vw;*/
        height: auto;
        font-family: Lexend_Deca;
        font-size: 2.8vh;
        transition:border,background-color,color;
        transition-duration: 500ms;
    }
    .data_block,.data_block_active{/*  The blocks containing the classes   */
        position: relative;
        width:100%;
        top:0%;
        height:auto;
        font-size:100%;
        text-align: center;
        cursor: pointer;
        overflow: visible;
        border:none;
        z-index: 50;
        transform: translate(-0.5vh,0vh);
        padding-left:0.5vh;
        padding-right:0.5vh;
        transition: box-shadow 300ms,transform 300ms,background-color 300ms,color 300ms;
    }
    .data_block,.data_block_active:active{
        transition: box-shadow 0ms,background-color 0ms,color 0ms;
    }
    .data_block_active{
        z-index: 400;
        
    }
    .infodoot{/*  Facilitates flip out effect  */
        background-color: inherit;
        position: absolute;
        bottom: 0;
        right:0;
        width:100%;
        display: block;
        opacity: 0;
        transform: rotate3d(1,0,0,90deg) translate(1vh,0);
        white-space: normal;
        /*transform: ;*/
        padding:1vh;
        border-radius: 1vh 1vh 1vh 1vh;
        transition:box-shadow 500ms,transform 300ms,background-color 500ms,color 500ms,opacity 500ms;
    }
    .data_block_active .infodoot{
        display: block;
        opacity: 1;
        z-index: 400;
        transform: rotate3d(1,0,0,0deg) translate(1vh,0);
    }
    .infodoot table{width: 100%;border-collapse: collapse;text-align: center;table-layout: fixed;background:none!important;}
    .infodoot th{padding: 3px;background:none!important;}
    .infodoot td{padding: 3px;vertical-align: middle;align-content: center;background:none!important;}
    .infodoot .lefter{text-align: right;background:none!important;}
    .infodoot .righter{text-align: left;background:none!important;}
    #sub_menu{/*    Sub menu to switch tables quickly   */
        position: absolute;
        bottom: 7vh;
        right: 0;
        height: auto;
        width:100%;
        display: none;
        z-index: 100;
    }

    /*  manage_view   */
    #manage_view{/* Adjust manage view to align with table selector at the bottom*/
        top:0;
        left:0;
        width: 100vw;
        height:85vh;
    }
    .dataspace{/*   Block Containing the data_bar(s)   */
        position: relative;
        top:0;
        margin-left:5vw;
        width:90vw;
        height:100%;
    }
    .data_bar{/*    Detailed representaion of the data to be managed , reused in the dataspace  */
        position: relative;
        display: block;
        float: left;
        height: auto;
        width:90%;
        min-width: 40%;
        font-size:3.2vh;
        padding:1.2vh;
        border-radius: 3vh;
        cursor: pointer;
        box-shadow: 0vh 0vh 0vh 0vh;
        margin-top:2vh;
        margin-bottom: 1vh;
        margin-left:2vw;
        text-align: center;
    }
    .data_bar table{width: 100%;border-collapse: collapse;text-align: center;table-layout: fixed;}
    .data_bar th{padding: 2px;}
    .data_bar td{padding: 2px;vertical-align: middle;align-content: center}
    .data_bar .lefter{text-align: right}
    .data_bar .righter{text-align: left}
    .data_noot{
        position: absolute;
        top:0;
        right:0;
        font-size:3.5vh;
        height:4vh;
        width: 4vh;
        border-radius: 4vh;
        transform: translate(1vh,-1.5vh);
    }
    .plusimg{/* Little icon in the add new button */
        position: relative;
        float: right;
        height:3.8vh;
        width:3.8vh;
        background-size: contain;
    }

    /* Dataentry screen */
    #dataentry_screen{
        position: fixed;
        bottom: 0;
        height:100%;
        width:100%;
        display: none;
        overflow: scroll;
        transition: transform 200ms;
        z-index: 50;
    }
    #dataentry_screen table{/*  TEMPORARY   */
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width:95%;
        font-size: 8vw;
        margin-bottom: 10vh;
    }
    #dataentry_screen label{
        font-size: 6vw;
        width: 100%;
        text-align: center;
        transform: translate(0,9vh);
    }
    #dataentry_screen input{
        width:100%;
        height:100%;
        font-size: 8vw;
        border-radius: 1vh;
        text-align: center;
        transition: border 300ms;
    }
    .select_container{/*  Select boxes made to be more effective on mobile  */
        position: relative;
        height: 10vw;
        width:calc(100% - 0.8vh);
        overflow: hidden;
        border-radius:2vh;
        -webkit-touch-callout: none;    
        margin-top:2vh;
        transition:background-color 300ms,color 300ms;
    }.select_container:active{
        transition:background-color 0ms,color 0ms;
    }
    .select_container select{
        position: absolute;
        top:0;
        right:0;
        font-size: 8vw;
        width: 100%;
        height: 100%;
        -webkit-appearance: none;
        text-align: center;
        opacity: 0;
    }
    .select_container .select_text{
        position: absolute;
        top:0;
        right:0;
        opacity: 1;
        font-size: 8vw;
        width: 100%;
        text-align: center;
        background:none;
    }
    #table_sect_container{
        position: fixed;
        bottom: 8vh;
        left: 0;
        z-index: 5;
    }

    #btn_bar{
        position:fixed;
        bottom:0vh;
        width: 100vw;
        height:9vh;
        display: none;
        background: none;
    }
    .databtns{/*    Buttons at the bottom of #dataentry_screen  */
        position: absolute;
        top:0;
        font-size:4vh;
        height:5vh;
        padding:1vh;
        text-align: center;
        width:25vw;
        cursor: pointer;
        overflow: hidden;
        border-radius:2vh;
        -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
        transition:background-color 300ms;
    }.databtns:active{transition:background-color 0ms;}
    #cancel_btn{/*cancel button*/
        left:4vw;
    }
    #save_btn{/*Save button*/
        left:35vw;
    }
    #savepluss_btn{/*Save and add new entry button*/
        right:4vw;
    }
    #delete_btn{/*Save and add new entry button*/
        right:4vw;
    }
    .dataimg{/* icons for buttons   */
        float:right;
        background-size: contain;
        height:5vh;
        width:5vh;
    }

    #delete_confirm_pannel{/*   Delete confirmation pannel  */
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        height:100%;
        z-index: 30;
        display: none;
    }
    #delete_confirm_pannel .title{
        margin-top: 2vh;
        width:100%;
        text-align:center;
        font-size:6vh;
    }
    #delete_confirm_pannel #pseudo_container{
        position: absolute;
        top:15vh;
        right:0;
        height: auto;
        width: 100%;
    }
    #pseudo_container table{width: 100%;margin:0;font-size: 4vh;border-collapse: collapse;text-align: center;table-layout: fixed;}
    #pseudo_container th{padding: 3px;padding-bottom: 1vh;}
    #pseudo_container .puff{padding-bottom: 1vh;}
    #pseudo_container td{padding: 3px;padding-bottom: 1vh;vertical-align: middle;align-content: center;}
    #pseudo_container .lefter{text-align: right;}
    #pseudo_container .righter{text-align: left;}
    #yes_btn{
        position: absolute;
        outline: none;
        bottom: 3vh;
        right:2vw;
        width: 45%;
        font-size: 5vh;
        border-radius: 2vh;
        cursor:pointer;
        transition: background-color 300ms,border 300ms;
    }#yes_btn:active{
        transition:background-color 0ms;
    }
    #no_btn{
        position: absolute;
        outline: none;
        bottom: 3vh;
        left:2vw;
        width: 45%;
        font-size:5vh;
        border-radius: 2vh;
        cursor:pointer;
        transition: background-color 300ms,border 300ms;
    }#no_btn:active{
        transition:background-color 0ms;
    }
    #erraser{/* Clear inputs    */
        position: absolute;
        top:2vh;
        right:2vh;
        height:9vh;
        width: 9vh;
        background-size: contain;
        cursor: pointer;
        transition:transform 500ms;
    }

/*  task view  */
    #task_dataspace{

    }
    .task_bar{/*    Detailed representaion of the data to be managed , reused in the dataspace  */
        position: relative;
        display: block;
        float: left;
        height: auto;
        width:90%;
        min-width: 40%;
        font-size:3.2vh;
        padding:1.2vh;
        border-radius: 3vh;
        cursor: pointer;
        box-shadow: 0vh 0vh 0vh 0vh;
        margin-top:2vh;
        margin-bottom: 1vh;
        margin-left:2vw;
        text-align: center;
    }
    .task_bar .task_title{
    
    }
    .task_bar .task_text{

    }
    .task_bar .task_time_remaining{

    }
    .task_bar table{width: 100%;border-collapse: collapse;text-align: center;table-layout: fixed;}
    .task_bar th{padding: 2px;}
    .task_bar td{padding: 2px;vertical-align: middle;align-content: center}
    .task_bar .lefter{text-align: right}
    .task_bar .righter{text-align: left}

/*  Setting view  */
    #setting_view{
        overflow: scroll;
    }
    .Setting_title{
        margin-top:1vh;
        font-size: 6vh;
        position: relative;
        text-align: center;
    }
    .selection_container{
        margin-top:1vh;
        position: relative;
        height:40vh;
        width: 100%;
    }
    .selectionbox{
        height:100%;
        width:50%;
        float: left;
        cursor: pointer;
    }
    .selection_title{
        width: calc(100% - 2.3vh);
        text-align: center;
        font-size: 3.9vh;
        height: 3.9vh;
    }
    .selcetion_put{
        -webkit-appearance: none;
        padding:0;
        height: 3.5vh;
        width: 3.5vh;
        float: right;
        cursor: pointer;
        border-radius: 0.5vh;
    }
    .selcetion_put:checked::after{/*    The tick in the box */
        position: absolute;
        transform: rotate(40deg) translate(0.55vh,-0.6vh);
        height: 2.7vh;
        width: 0.8vh;
        content: "";
        padding:0;
        border-width: 0.4vh;
        border-style: solid;
        border-top: none;
        border-left: none;

    }
    .mincropallet{
        position: relative;
        height: 85%;
        width: 90%;
        margin-right: auto;
        margin-left:auto;
        transition:box-shadow 500ms;
    }
    .mincropallet table{
        height: 85%;
        width:100%;
        border-collapse: collapse;
        table-layout: fixed;
        background-size: cover;
    }.mincropallet td{
        border-collapse: collapse;
    }
    #amoled_pallet{background-color: rgb(0, 0, 0);}
    #amoled_pallet table{
        background-image: url('../img/blyatground.webp');
    }#amoled_pallet td{
        border:1px solid #ffffff;
    }
    #dark_pallet{background-color: rgb(49, 49, 49)}
    #dark_pallet table{
        background-image: url('../img/blyatground.webp');
    }#dark_pallet td{
        border:1px solid #c9c9c9;
    }
    #light_pallet{background-color: rgb(255, 255, 255);}
    #light_pallet table{
        background-image: url('../img/whiteground.webp');
    }#light_pallet td{
        border:1px solid #000000;
    }
    .mincropallet .palletfoot{
        height:15%;
        width: 100%;
    }
    .palletfoot .icon{
        height:100%;
        width:25%;
        float:left;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .lightcon{background-image: url('../img/icon.webp');}
    .lightbook{background-image: url('../img/manage-light.webp');}
    .lightclip{background-image: url('../img/Clip-light.webp');}
    .lightgear{background-image: url('../img/setting-light.webp');}
    .darkgear{background-image: url('../img/setting-dark.webp');}
    .darcon{background-image: url('../img/icon-inverse.webp');}
    .darkbook{background-image: url('../img/manage-dark.webp');}
    .darkclip{background-image: url('../img/Clip-dark.webp');}
    
    .setting_bar{
        position: relative;
        height:6vh;
        width: calc(100% - 12vh);
        text-align: center;
        margin-top:2vh;
    }
    .Bar_title{
        height: 6vh;
        font-size:  5.5vh;
        text-align: center;
        cursor: pointer;
    }
        /* Switches */
    .switch_container_active{
        position: absolute;
        transform: translate(12vh,0);
        top:0vh;
        right:1vh;
        width:12vh;
        height:5vh;
        border:0.5vh solid;
        border-radius: 5vh;
        cursor:pointer;
    }
    .switch_container_active .switchbdy{
        position: absolute;
        width:12vh;
        height:5vh;
        border-radius: 5vh;
        cursor:pointer;
        transition: transform,background-color;
        transition-duration: 300ms;
    }
    .switch_container_active .switch{
        top:0.2vh;
        right:0.2vh;
        position: absolute;
        height:4.6vh;
        width:4.6vh;
        border-radius: 50%;
        z-index:1;
        transform: translate(0px/*-39px*/,0);
        transition: transform,background-color;
        transition-duration: 300ms;
    }
    .switch_container_dissabled{
        position: absolute;
        transform: translate(12vh,0);
        top:0vh;
        right:1vh;
        width:12vh;
        height:5vh;
        border:0.5vh solid;
        border-radius: 5vh;
        cursor:pointer;
        transition: transform,background-color;
        transition-duration: 300ms;
    }
    .switch_container_dissabled .switchbdy{
        position: absolute;
        width:12vh;
        height:5vh;
        border-radius: 5vh;
        cursor:pointer;
        transition: background-color;
        transition-duration: 300ms;
    }
    .switch_container_dissabled .switch{
        top:0.2vh;
        right:0.2vh;
        position: absolute;
        height:4.6vh;
        width:4.6vh;
        border-radius: 50%;
        z-index:1;
        transform: translate(-7vh,0);
        transition: transform,background-color;
        transition-duration: 300ms;
    }
}

/*  Landscape layout (with min-width)   */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    
}